<!Doctype html>
<html>

<head>
     <title>Success</title>
	 <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="../img/successCloudNew.svg" />
        </div>
        <div class="content">
            <div class="tweet-container">
            <a href="https://console.huaweicloud.com/servicestage/">
                <img src="../img/tweetThis.svg" />
            </a>            
        </div>
            <div class="content-body">
                <div class="success-text">Success!</div>
                <div class="description line-1"> Cloud DevOps Project has been successfully setup</div>
                <div class="description line-2"> Your Java app is up and running on Cloud</div>
                
              
            </div>
        </div>
    </div>
</body>

</html>
